*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(../imagenes/restaurant.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-color: brown;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    font-size: 18px;
}
h1{
    color: #696564;
    font-size: 45px;
    text-align: center;
    padding: 25px;
}
.logo {
    width: 100px;
    height: 100px;
    background-image: url('../imagenes/logo.png');
    background-size: cover;
}
li{
    display: inline-block;
    padding: 0px 20px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: aqua;
}
.contenedor{   
    display: flex;
    width: 95%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    justify-content: center;
}
.contenedor__{
    margin: auto; 
}
fieldset{
    margin: 10px;
    width: 30%;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
}
img{
    width: 350px;
    height: 250px;
    border-radius: 10px;
}
legend{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
footer{
    text-align: right;
    padding: 20px;
}
p{
    font-size: 18px;
}